.mySwiper {
  width: 100%;
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  &::after {
    display: none;
  }
}


.swiper-button-prev {
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;  
  left: -20px !important;
}

.swiper-button-next {
  height: 40px !important;
  width: 40px !important;
  border-radius: 100%;  
  right: -20px !important;
} 

.testimonialsBannerBg {
  background-image: url("/testimonialsBannerBg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f7fd; 
}

