@tailwind base;
@tailwind components;
@tailwind utilities; 


.ant-menu-item:hover {
    background-color: #C1FF72 !important;
    color: black !important;
  }
  
  .ant-menu-item-selected {
    background-color: #C1FF72 !important;
    color: black !important;
  } 

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #dfdfdf00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  
    /* background: #6b5ecc34;  */
    background: #ffffff67;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6b5ecc34;
  }  

  .jodit-workplace{
    height: 550px !important;
  } 
  
  .rbc-event {
    margin-top: 5px; /* Adjust vertical spacing */
    margin-left: 10px; /* Adjust horizontal spacing */
  }
  
  .rbc-event-content {
    text-align: center; /* Align text */
  }

  .ant-otp .ant-otp-input {  

    height: 55px !important; 
    border: 1px solid black !important;
  } 

  .ant-table-wrapper .ant-table-tbody >tr >td { 
    background-color: #ffe6f7 !important; 
    color: black !important; 
    border: 1px solid gainsboro !important;
   } 

   .ant-table-thead .ant-table-cell { 
    background-color: black !important; 
    color: white !important;
    } 
